.logo-and-search { position:absolute; top:33px; }

.logo-box {
	float:left;
	margin:6px 32px 6px 26px;
	padding:0;
}

.logo-box .users-count {
	font-size: 9px;
	color: #7D7D7D;
}

.logo-img {
	display: block;
	margin-left:4px;
}

.top-right {
	float:right;
	margin: -2px 0 0 10px;
	padding:0;
	height: 33px;
	position:relative;
	z-index:9990;
}

p.welcome-user {
	float:right;
	font-size:14px;
	color:#303030;
	padding:0;
	margin:-2px 0 0 20px;
	height: 32px;
}

p.welcome-user span {
	display:block;
	background:#e2e7ea;
	float:right;
	padding:5px 58px 10px 20px;
}
p.welcome-user a {
	display:block;
	background:url(i/sprite-infoq.gif) -109px -94px no-repeat;
	width:41px;
	height:32px;
	text-indent:-9999px;
	float:right;
}

.top-right ul {
	margin: 0 10px 0 0;
	padding: 0;
}

.top-right ul li {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;
	float: left;
}

.top-right .qcon {
	margin: 0 0 -44px 20px;
	position: relative;
}

.top-right ul li a {
	display:block;
	position:relative;
	float:left;
	font-size:14px;
	color:#000000;
	padding:8px 0;
	text-decoration:none;
}
.top-right ul li a.login {
	position:relative;
	background:url(i/arrow-login-default.gif) 70px 10px no-repeat #4e81bb;
	border-top:2px solid #4e81bb;
	font-family:Helvetica;
	font-size:13px;
	line-height:21px;
	color:white;
	padding:2px 24px 4px 35px;
}
.top-right ul li a.login:hover,
.top-right ul li a.login-active {
	position:relative;
	border-top:2px solid #f3f3f3;
	background:url(i/arrow-login-popup.gif) 70px 10px no-repeat #ffffff;
	font-family:Helvetica;
	font-size:13px;
	line-height:21px;
	color:#4e81bb;
	padding:2px 24px 4px 35px;
}

.top-right ul li a.logout {
	position:relative;
	background:#4e81bb;
	border-top:2px solid #4e81bb;
	font-family:Helvetica;
	font-size:14px;
	line-height:24px;
	color:#ffffff;
	padding:2px 24px 4px 45px;
}

.top-right ul li a.logout:hover,
.top-right ul li a.logout-active {
	position:relative;
	border-top:2px solid #f3f3f3;
	background:#ffffff;
	font-family:Helvetica;
	font-size:14px;
	line-height:24px;
	color:#4e81bb;
	padding:2px 24px 4px 45px;
}

.top-right ul li a.login span,
.top-right ul li a.logout span {
	position:absolute;
	background:url(i/sprite-infoq.gif) -240px -89px no-repeat;
	left:15px;
	top:3px;
	width:16px;
	height:15px;
}

.top-right ul li a.login:hover span,
.top-right ul li a.login-active span,
.top-right ul li a.logout:hover span,
.top-right ul li a.logout-active span {
	position:absolute;
	background:url(i/sprite-infoq.gif) -240px -10px no-repeat;
	left:15px;
	top:3px;
	width:16px;
	height:15px;
}
.top-right ul li a.login-active b,
.top-right ul li a.logout-active b {
	position:absolute;
	top:0;
	left:-3px;
	background:url(i/b-border-login.gif) left top repeat-y;
	display:block;
	height:30px;
	width:3px;
}

.top-right ul li a.register {
	border-top:2px solid #40a34d;
	position:relative;
	background:#40a34d;
	font-family:Helvetica;
	font-size:13px;
	line-height:13px;
	color: white;
	padding:6px 12px 8px 32px;
}

.top-right ul li a.register span {
	position:absolute;
	background:url(i/sprite-infoq.gif) -240px -37px no-repeat;
	left:12px;
	top:3px;
	width:14px;
	height:17px;
}

.top-right ul li a.register:hover {
	border-top:2px solid #f3f3f3;
	background:#ffffff;
	color:#40a34d;
	/*padding:6px 15px 8px 47px;*/
}
.top-right ul li a.register:hover span {
	background:url(i/sprite-infoq.gif) -240px -367px no-repeat;
}

.top-right ul li a.feed {
	background:url(i/sprite-infoq.gif) -240px -106px no-repeat;
	padding-left: 20px;
	margin: 0 5px;
    height:18px;
}

.top-right #popupLogin { 
	margin: 0 0 0 -3px;
	display: none;
	position: absolute;
	z-index: 999999;
	top:32px;
	left: 0px;
	width: 250px;
	background:url(i/popup-login-bg.png) left top repeat-y;
}

.top-right #popupLogin h2 { 
	font-size:14px;
	font-weight:bold;
}

.top-right #popupLogin h2.existing-user { 
	padding:0 12px;
}

.top-right #popupLogin form { padding:0 12px; margin:16px 0 0 0; }
.top-right #popupLogin .bg-top-right {
	display:block;
	position:relative;
	font-size:1px;
	background:url(i/popup-login-bg-top-right.png) left top no-repeat;
	width:130px;
	height:3px;
	float:right;
	top:-3px;
	right:-1px;
}

	.top-right #popupLogin label {
		clear:both;
		font-family:Lucida,Lucida Grande,Arial;
		font-size:12px;
		line-height:15px;
		color:#333333;
	}
	.top-right #popupLogin input {
		clear:both;
		border:1px solid #cccccc;
		font-size:12px;
		color:#333333;
		width:206px;
		padding:9px 5px;
		margin:6px 0 4px 0;
	}
	
	.top-right #popupLogin input.submit-login {
		background:url(i/sprite-infoq.gif) -10px -94px no-repeat;
		border:0px;
		height:35px;
		width:89px;
		cursor:pointer;
		position:relative;
	}
	
	.top-right #popupLogin .login-type {
		background:#f6f8f9;
		width:222px;
		margin:12px 0 0 4px;
		padding:10px 10px
	}
		.top-right #popupLogin .login-type a.login-openID {
			display:block;
			background:url(i/sprite-infoq.gif) -240px -63px no-repeat;
			padding-left:32px;
			height:17px;
			margin:0 0 16px 0;
		}
		.top-right #popupLogin .login-type a.login-twitter {
			display:block;
			background:url(i/sprite-infoq.gif) -240px -141px no-repeat;
			padding-left:32px;
		}
		.top-right #popupLogin .login-type a {
			font-size:12px;
			line-height:14px;
			text-decoration:none; 
			color:#467bb7;
		}
		.top-right #popupLogin .login-type a:hover { text-decoration:underline; color:#467bb7; }
	.top-right #popupLogin .login-popup-end-box {
		background:url(i/bottom-popup.png) left top no-repeat;
		width:250px;
		height:4px;
		font-size:1px;
		margin-bottom:-4px;
		position:relative;
	}

.top-right #popupLogout { 
	display:none;
	position:absolute;
	z-index:999999;
	top:32px;
	left: -100%;
	padding:0;
	margin:0;
}
.top-right #popupLogout ul {
	margin: 0;
	position:relative;
	z-index:9999999;
	background:#f1f6f9;
}
.top-right #popupLogout ul li {
	display:block;
	background:#f1f6f9;
	font-size:13px;
	font-weight:bold;
	padding:0 19px;
	margin:0;
	zoom: 1;
	float: none;
}
.top-right #popupLogout ul li.logout {
	display:block;
	background:#ccdae2;
	font-size:13px;
	font-weight:bold;
	padding:0 19px;
	margin:0;
}
.top-right #popupLogout ul li a { 
	color:#303030;
	display:block;
	float:none;
	position:relative;
	z-index:9999999999;
	padding:6px 3px;
	border-bottom:1px solid #ffffff;
	zoom: 1;
}
.top-right #popupLogout ul li a.last { border-bottom:0px; }
.top-right #popupLogout ul li a:hover { 
	color:#467bb7;
	text-decoration:none;
}
.top-right #popupLogout ul li.logout a.logout-link {
	background:url(i/sprite-infoq.gif) -237px -394px no-repeat;
	padding-left:24px;
	border-bottom:0px;
}

/**/
.LoginWindowBox { 
	display:none;
	position:absolute;
	z-index:999999;
	top:55px;
	left:-6px;
	width:250px;
	background:url(i/popup-login-bg.png) left top repeat-y;
	margin-top:10px;
}

.LoginWindowBox h2 {
	font-size:14px;
	font-weight:bold;
	margin:10px 0 0 12px;
}

.LoginWindowBox .login-type h2 {
	margin:10px 0;
}

.LoginWindowBox form { padding:0 12px; margin:16px 0 0 0; }

a.close-popup, 
a.close-popup-top {
	background: url(i/icon-close.gif) no-repeat scroll 0 0 transparent;
	display:block;
	position:absolute;
	height:15px;
	margin:0;
	overflow:hidden;
	text-decoration:none;
	text-indent:-10000px;
	width:15px;
	z-index:999999999;
	top:10px;
	right:10px;
}

.LoginWindowBox .login-popup-top-box {
	display:block;
	position:relative;
	font-size:1px;
	background:url(i/top-popup.png) left top no-repeat;
	width:250px;
	height:4px;
	float:right;
	top:-3px;
	right:0px;
	z-index:20000;
}

	.LoginWindowBox label {
		clear:both;
		font-family:Lucida,Lucida Grande,Arial;
		font-size:12px;
		line-height:15px;
		color:#333333;
	}
	.LoginWindowBox input {
		clear:both;
		border:1px solid #cccccc;
		font-size:12px;
		color:#333333;
		width:206px;
		padding:9px 5px;
		margin:6px 0 4px 0;
	}
	
	.LoginWindowBox input.submit-login {
		background:url(i/sprite-infoq.gif) -10px -94px no-repeat;
		border:0px;
		height:35px;
		width:89px;
		cursor:pointer;
		position:relative;
	}
	
	.LoginWindowBox .login-type {
		background:#f6f8f9;
		width:222px;
		margin:12px 0 0 4px;
		padding:10px 10px
	}
		.LoginWindowBox .login-type a.login-openID {
			display:block;
			background:url(i/sprite-infoq.gif) -240px -63px no-repeat;
			padding-left:32px;
			height:17px;
			margin:0 0 16px 0;
		}
		.LoginWindowBox .login-type a.login-twitter {
			display:block;
			background:url(i/sprite-infoq.gif) -240px -141px no-repeat;
			padding-left:32px;
		}
		.LoginWindowBox .login-type a {
			font-size:12px;
			line-height:14px;
			text-decoration:none; 
			color:#467bb7;
		}
		.LoginWindowBox .login-type a:hover { text-decoration:underline; color:#467bb7; }
	.LoginWindowBox .login-popup-end-box {
		background:url(i/bottom-popup.png) left top no-repeat;
		width:250px;
		height:4px;
		font-size:1px;
		margin-bottom:-4px;
		position:relative;
	}
/**/

.search-box {
	margin: 1px 5px 0 0;
	float: right;
	font-family:Helvetica,Arial;
	font-size:13px;
	color:#666666;
}

	.search-box p, .search-box form {
		float:left;
	}
	.search-box p {
		position: absolute;
		left: -9999em;
		font-size:14px;
		line-height:16px;
	}
	
	.search-box .input-search-bg {
		float:left;
		display:block;
		background:url(i/sprite-infoq.gif) -10px -10px no-repeat;
		width:162px;
		height:30px;
	}
	.search-box .input-search-bg input {
		width:148px;
		font-size:14px;
		color:#666666;
		margin:1px 0 0 1px;
		padding:5px 8px 0px 4px;
		border:0px;
	}
	.search-box input.search-go {
		float:left;
		display:block;
		background:url(i/sprite-infoq.gif) -182px -10px no-repeat;
		width:28px;
		height:30px;
		border:0px;
		cursor:pointer;
	}

.navigation {
	float:right;
	margin: 10px 50px 0 0px;
}

.tworownavigation {
	margin: 10px 160px 0 0;
}

.navigation p {
	font-family:Helvetica,Arial;
	font-size:11px;
	line-height:11px;
	color:#cccccc;
	margin:0 0 17px 0;
	padding:0;
}

.navigation ul {
	margin:0;
	padding:0;
}
.navigation ul li {
	display:inline;
	list-style-type:none;
	font-family:Helvetica,Arial;
	font-size:15px;
	line-height:16px;
	color:#666666;
}
.navigation ul li.last a { margin-right:0px; }
.navigation ul li a {
	color:#666666;
	font-family:Helvetica,Arial;
	font-size:15px;
	text-decoration:none;
	position:relative;
	display:block;
	height:36px;
	padding: 10px 10px 0;
	float:left;
	z-index:1000;
}

.navigation ul li.active a {
	background:url(i/arrow-menu.gif) center bottom no-repeat;
	color:#666666;
}

.navigation ul li.last a { margin-right:0px; }

	.navigation ul li .div-submenu {
		display:none;
		position:absolute;
		top:116px;
		width:100%;
		left:0px;
		background:url(i/bg-submenu-border-top.gif) left top repeat-x;
		font-size:1px;
		z-index:100;
	}
	.navigation ul li.active .div-submenu {
		display:block;
	}
	
	.navigation ul li.active .div-submenu .submenu-start {
		float:left;
		background:url(i/div-submenu-bg-start.gif) left top no-repeat;
		width:5px;
		height:31px;
		margin-top:-1px;
	}
	
	.navigation ul li.active .div-submenu .submenu-end {
		float:right;
		position:relative;
		background:url(i/div-submenu-bg-end.gif) left top no-repeat;
		width:5px;
		height:31px;
		margin-top:-1px;
	}
	
	.navigation ul li.active .div-submenu .submenu-content {
		background:#e2e7ea;
		margin:1px 20px 0 20px;
		padding:0;
		height:30px;
		font-size:1px;
		display:block;
		min-width:985px;
	}
	
	.submenu-content ul {
		float:left;
		padding:9px 0 0 12px;
	}
	
	.submenu-content ul.partner-zones {
		float:right;		
	}
	
	.navigation ul li .submenu-content ul li { padding:0; margin:0; }
	.navigation ul li .submenu-content ul li a {
		background:none;
		height:auto;
		font-size:13px;
		line-height:13px;
		color:#141414;
		margin:0 25px 0 0;
		padding: 0;
	}
	.navigation ul li .submenu-content ul li span {
		background:none;
		height:auto;
		font-size:13px;
		line-height:13px;
		color:#141414;
		margin:0 25px 0 0;
		float:left;
	}
	.navigation ul li .submenu-content p a {
		background:none;
		height:auto;
		font-size:13px;
		color:#141414;
		margin:0;
	}
	.submenu-content p {
		float:right;
		font-size:13px;
		color:#141414;
		padding:5px 12px 0 0;
	}

/* SPONSORED TEXT LINKS */

.sponsoredTextLinks {
    position:relative;
    background:url(sponsored-links-bg.gif) 185px top no-repeat #f2f2f2;
    margin:5px 0px;
    padding:8px 12px;
}

.sponsoredTextLinks ul { margin:5px 0 0 0; padding:0px; }

.sponsoredTextLinks ul li {
    position: relative;
    list-style-type:none;
    font-size:11px;
    line-height:22px;
    color:#333333;
}

.sponsoredTextLinks ul li a {
    color: #0B59B2;
    text-decoration: underline;
    //color:#333333;
    //text-decoration:none;
    line-height:22px;
    padding-left:0px;
}

.sponsoredTextLinks ul li a:hover { color: #318528; text-decoration:underline; }

/* New text links icons */
.sponsoredTextLinks ul li span.application{
    float: left;
    padding-right: 15px;
	display: block;
    width: 16px;
    height: 16px;
    background:url(/images/textlinks/application.gif) left 2px no-repeat;
}

.sponsoredTextLinks ul li span.archive{
    float: left;
    padding-right: 15px;
	display: block;
    width: 16px;
    height: 16px;
    background:url(/images/textlinks/archive.gif) left 2px no-repeat;
}

.sponsoredTextLinks ul li span.pdf-whitepaper{
    float: left;
    padding-right: 15px;
	display: block;
    width: 16px;
    height: 16px;
    background:url(/images/textlinks/pdf-whitepaper.gif) left 2px no-repeat;
}

.sponsoredTextLinks ul li span.picture{
    float: left;
    padding-right: 15px;
	display: block;
    width: 16px;
    height: 16px;
    background:url(/images/textlinks/picture.gif) left 2px no-repeat;
}

.sponsoredTextLinks ul li span.video{
    float: left;
    padding-right: 15px;
	display: block;
    width: 16px;
    height: 16px;
    background:url(/images/textlinks/video.gif) left 2px no-repeat;
}

.sponsoredTextLinks ul li span.web-page-article{
    float: left;
    padding-right: 15px;
	display: block;
    width: 16px;
    height: 16px;
    background:url(/images/textlinks/web-page-article.gif) left 2px no-repeat;
}
/* New text links icons */

#footer .top-band-footer {
	background:#f3f5f7;
	margin:0;
	padding:15px 33px 15px 15px;
}

#footer .bottom-band-footer {
	margin:0 0 20px 0;
	padding:16px 33px 15px 15px;
}

#footer .bottom-band-footer .checkbox, 
#footer .bottom-band-footer .radio {
	width:21px;
	height:13px;
	padding:4px 0 0 0;
	background:url(i/sprite-checkboxes.gif) left top no-repeat;
	display:block;
	clear:left;
	float:left;
}
#footer .footer-column {
	float:left;
	width:198px;
	min-height:150px;
	position:relative
}
#footer .latest-news {
/*	float:left;*/
	text-align:center;
	width:390px;
}
#footer .latest-news ul li {
	width:325px;
}
#footer .footer-column p {
	font-family:Lucida Grande,Lucida,Arial;
	font-size:13px;
	font-weight:bold;
	color:#333333;
	margin:0 0 9px 0;
	padding:0;
}
#footer .footer-column p.general { 
	font-family:Lucida Grande,Lucida,Arial;
	font-size:13px;
	margin:0; 
}
#footer .footer-column a.mail-to { 
	color:#3ea34c;
	font-size:12px;
	text-decoration:none;
	display:block;
	padding:0 0 9px 0;
}
#footer .footer-column p.communities { color:#959595!important; }
#footer .footer-column a.read-all { 
	color:#3ea34c; 
	text-decoration:none;
	background:url(i/arrow-green-right.gif) left 6px no-repeat;
	font-size:12px;
	padding-left:19px;
	cursor:pointer;
}

.footer-column ul li a.home {}

#footer .footer-column ul {
	width:180px;
	margin:0;
	padding:0;
}
#footer .footer-column ul li {
	list-style-type:none;
	margin:0;
	padding:0 0 8px 0;
	font-size:12px;
	line-height:14px;
}
#footer .footer-column ul.topics { margin:0 0 12px 0; }
#footer .footer-column ul.topics li {
	list-style-type:none;
	margin:0;
	padding:0 0 5px 0;
}

#footer .footer-column ul.latest-news li a { font-weight:bold; }
#footer .footer-column ul.latest-news li a:hover { color:#296297; }

#footer .footer-column ul li.contribute-li {
	margin-top:27px;
}
#footer .footer-column ul li a {
	display:block;
	font-size:12px;
	line-height:15px;
	color:#333333;
	text-decoration:none;
}
#footer .footer-column ul li a:hover { color:#336699; }

#footer .footer-column ul li a.account {
	padding-left:28px;
}

.footer-column ul li a.home {
	display:block;
	background:url(i/sprite-infoq.gif) -240px -161px no-repeat;
	padding-left:28px;
	color:#2e2e2e;
	font-weight:bold;
}

.footer-column ul li a.about {
	display:block;
	background:url(i/sprite-infoq.gif) -240px -193px no-repeat;
	padding-left:28px;
}

.footer-column span {
	font-size:12px;
}


.footer-column ul li a.qcon {
	display:block;
	background:url(i/sprite-infoq.gif) -240px -225px no-repeat;
	padding-left:28px;
}

.footer-column ul li a.register {
	display:block;
	background:url(i/sprite-infoq.gif) -240px -264px no-repeat;
	padding-left:28px;
}

.footer-column ul li a.login {
	display:block;
	background:url(i/sprite-infoq.gif) -240px -296px no-repeat;
	padding-left:28px;
}

.footer-column ul li a.contribute-news {
	display:block;
	background:url(i/sprite-infoq.gif) -240px -330px no-repeat;
	padding-left:28px;
}

/* Header updates */
.top-right .user {
	position: relative;
}

.top-right .user .dropdown {
	right: -1px;
}

.top-right .dropdown-link {
	margin: 0;
	padding: 0 0 0 3px;
	position: relative;
	z-index: 100000;
	display: block;
	height: 37px;
	background: transparent url(i/dropdown_link.png) no-repeat 0 0;
	color: #262349;
	font-size: 13px;
	line-height: 17px;
}

.top-right .dropdown-link span {
	display: block;
	padding: 12px 32px 8px 12px;
	height: 17px;
	background: transparent url(i/dropdown_link.png) no-repeat 100% 0;
}

.top-right .dropdown-active .dropdown-link {
	background: transparent url(i/dropdown_link.png) no-repeat 0 -37px;
}
.top-right .dropdown-active .dropdown-link span {
	background: transparent url(i/dropdown_link.png) no-repeat 100% 100%;
}


.top-right .dropdown {
	position: absolute;
	display: none;
	z-index: 99999;
	top: 33px;
	padding: 10px 0 0;
	width: 280px;
	background: transparent url(i/dropdown.png) no-repeat 0 0;
}

.top-right .dropdown-inner {
	padding: 8px 22px 4px 18px;
	width: 240px;
	overflow: hidden;
	zoom: 1;
	background: transparent url(i/dropdown.png) no-repeat 100% 100%;
}



/* User dropdown */
#user-dropdown .welcome {
	margin: 0;
	color: #467bb7;
	font-weight: bold;
	font-size: 12px;
	line-height: 1.3;
	float: left;
}

#user-dropdown .edit {
	float: right;
	margin: 0;
	padding: 0;
	color: #333;
	font-size: 13px;
}

/* user navigation */
#user-dropdown .nav {
	margin: 0;
	padding: 20px 0 0;
	clear: both;
}

#user-dropdown .nav li {
	margin: 0;
	padding: 0;
	display: block;
	list-style: outside none none;
	float: none;
}

#user-dropdown .nav a {
	padding: 5px 0;
	margin: 0;
	display: block;
	float: none;
	font-size: 13px;
}

#user-dropdown .nav .feed {
	padding: 5px 0 5px 24px;
	background:url(i/sprite-infoq.gif) -240px -110px no-repeat;
}

/* user communities edit */
#user-dropdown .user-communities-edit {
	margin: 0 -16px 0 -14px;
	position: relative;
}

#user-dropdown .user-communities-edit fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

#user-dropdown .user-communities-edit h3 {
	margin: 0;
	padding: 5px 15px;
	background: #f0f3f4;
	color: #000;
	font-weight: bold;
	font-size: 13px;
	letter-spacing: 0;
}

#user-dropdown .user-communities-edit label {
	width: 210px;
	display: block;
	float: right;
}

#user-dropdown .user-communities-edit input {
	float: left;
	margin: 2px 0 0 -26px;
}

#user-dropdown .user-communities-edit ol {
	border: 1px solid #e9edef;
	border-width: 1px 0;
	margin: 0;
	padding: 5px 15px;
	overflow: hidden;
	zoom: 1;
	background: #fbfbfb;
}

#user-dropdown .user-communities-edit li {
	display: block;
	margin: 0;
	padding: 4px 0 4px 26px;
	position: relative;
	float: none;
	overflow: hidden;
	zoom: 1;
	line-height: 13px;
}

#user-dropdown .logout {
	margin: 0 -16px 0 0;
	border: 0;
	padding: 10px 12px 10px 40px;
	float: right;
	background: #47a756 url(i/ico_logout.png) no-repeat 0 50%;
	color: #FFF;
	font-size: 13px;
	line-height: 1.1;
	text-transform: uppercase;
}

* html #user-dropdown .logout {
	display: inline;
}

#user-dropdown .checkbox, #user-dropdown .radio {
    background: url("i/sprite-checkboxes.gif") no-repeat scroll left top transparent;
    clear: left;
    display: block;
    float: left;
    height: 13px;
    padding: 4px 0 0;
    width: 21px;
}

#user-dropdown span {
    color: #999999;
    font-size: 12px;
}

#user-dropdown .user-communities-edit ul li a {
	display: block;
	font-size: 12px;
	line-height: 15px;
	color: #333;
	text-decoration: none;
	padding: 0;
}

#user-dropdown .user-communities-edit ul li {
	list-style-type: none;
	display: block;
	position: relative;
	float: none;
	overflow: hidden;
	zoom: 1;
	margin: 0;
	padding: 4px 0 4px 12px;
	font-size: 12px;
	line-height: 14px;
}

.tworowpersona {
	padding: 0 10px 16px 0 !important;
	margin-top: -5px;
	margin-left: 20px;
}
