.container {
  width: 960px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

img {
  border: none;
}

.global_day #main {
  float: left;
  width: 684px;
  margin-left: 0px;
  margin-top: 16px;
}
#header #logo img {
   border: 0;
   margin-top: 15px;
}

#header h1 {
   float: left;
   background: url(/images/gdcr-logo.png) no-repeat 0 0;
   width: 532px;
   height: 115px;
   text-indent: -9999px;
   margin-top: 80px;
   margin: 1em 0 1em 0.5em;
}

#sponsor-sidebar {
  float: left;
  width: 220px;
  /* min-height: 381px; */
  margin: 16px 0px 0px 16px;
  padding: 20px 0 40px 0;
  background: #fffacb url(/images/bg-content-btm.jpg) repeat-x bottom left;
  text-align: center;
}

#sponsor-sidebar section.sponsors header {
  font-size: 1.2em;
  color: #995E24;
  margin-top: 15px;
}

#sponsor-sidebar .sponsors ul {
  /* background-color: #d73513; */
  width: 216px;
  padding: 0;
}
#sponsor-sidebar .sponsors ul li {
  list-style-type: none;
  font-size: 1.3em;
  line-height: 1.8;
  padding: 5px;
}

