html {
  background: #1b120d;
}
body {
  background: #995e24;
  margin: 0 auto;
}
object {
  display: none;
}
.container {
  width: 960px;
  margin: 0 auto;
}

#header {
  float: left;
  width: 921px;
  position: relative;
}
#header a#logo{
  float: left;
}
#header #logo img {
  border: 0;
}

#header {
  background: #995e24;
}

#header h1 {
  float: left;
  background: url(/images/logo.png) no-repeat 0 0;
  width: 515px;
  height: 88px;
  text-indent: -9999px;
  margin-top: 80px;
  /* margin: 2em 0; */
}

#header .call-to-action {
  position: absolute;
  right: 5px;
  bottom: 5px;
  border: 1px solid orange;
  background: orange;
  padding:10px;
  text-shadow: -1px -1px 2px #618926;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  cursor: pointer;
}

#header .call-to-action a {
  text-decoration: none;
  color: black;
}

#contact {
  position:absolute;
  right: 0px;
  top: 0px;
  z-index: 999;
}
#contact a#contact-btn {
  background: url(/images/bg-contact-btn.png) no-repeat 0 0;
  width: 158px;
  height: 33px;
  display: block;
  font-size: 1.6em;
  padding: 4px 15px;
  color: #fffacb;
  position:absolute;
  right: 0px;
}

#contact a#contact-btn.open {
  background: url(/images/bg-contact-btn-up.png) no-repeat 0 0;
}
#contact #contact-info {
  background-color: #312118;
  padding: 5px;
  color: #fffacb;
  padding-top: 25px;
  -moz-box-shadow: 0 10px 10px rgba(0, 0, 0, 2.5);
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 2.5);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 2.5);
:
}
#contact #contact-info h2 {
  margin-bottom: .25em;
}
#contact #contact-info ul {
  list-style: none;
  padding: 0px;
  padding-left: 20px;
}
#contact #contact-info a:hover {
  text-decoration: underline;
  color: #d73513;
}
#sidebar {
  float: left;
  width: 220px;
  min-height: 381px;
}
ul#nav {
  background: url(/images/bg-nav.jpg) no-repeat 0 0;
  /* background-color: #d73513; */
  width: 216px;
  height: 400px;
  /* margin-top: 30px; */
  padding: 10px 0 0 10px;
}
ul#nav li {
  list-style-type: none;
  font-size: 1.7em;
  line-height: 1.8;
}
ul#nav li a {
  padding-left: 20px;
  color: #fffacb;
}
ul#nav li a:hover {
  text-decoration: none;
  color: #312118;
}

ul#nav li a.current_page {
  text-decoration: none;
  color: #312118;
  background: url(/images/bg-nav-active.png) no-repeat 0 0;
  }
#main {
  float: left;
  width: 680px;
  margin-left: 20px;
  margin-top: 16px;
}
#slideshow {
  background-color: #312118;
  padding: 2em 2.5em;
  margin-bottom: 2em;
}
#slideshow ul {
 margin: 0;
 padding: 0;
}
#slideshow ul li{
  list-style-type: none;
}

#announcements {
  font-size: 1.25em;
  font-weight: bold;
  background: #fffacb;
  padding: 20px 20px 20px 20px;
  border-radius: 25px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  margin-bottom: 20px;
}

#content {
  background: #fffacb url(/images/bg-content-btm.jpg) repeat-x bottom left;
  padding: 20px 20px 40px 20px;
  margin-bottom: 20px;
}
#footer {
  clear: both;
  background-color: #1b120d;
  min-height: 200px;
  width: 100%;
  float: left;

}
.container-wide {
  width: 1000px;
  margin: 0 auto;
}
#footer .section {
  width: 274px;
  padding: 20px;
  float: left;
  min-height: 350px;
  margin: 20px 28px 20px 0;
  background-color: #312118;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  color: #b16d2a;
}
#footer .last {
  margin-right: 0;
}
#footer h2 {
}
#footer p {
}
#footer a {
  color: #e68d36;
}

#footer .sponsor_footer {
  color: #E68D36;
}

#tripit-badge #tripit-badge-inner-div hr {
  margin-bottom: 15px;
  margin-top: 5px;
  color: #1b120d;
  background-color: #1b120d;
}

#twtr-widget-1 .twtr-hd {
  display: none;
}

.twtr-widget .twtr-tweet {
  border-bottom: 1px solid #1b120d !important;
  margin-bottom: 6px;
}

.twtr-widget .twtr-tweet-wrap {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-top: 0px !important;
}
