body {
  font-family: 'Geneva', Arial, sans-serif ;
}
h1, h2, h3, h4, h5, h6 {
  /* font-family: 'OrbitronMedium'; */
  color: #e68d36;
}
h1 {
  font-size: 2em;
}
h2 {
}
div#content h2 {
  margin-bottom: 0;
  margin-top: 1em;

}
h3 {

}
h4 {
  margin-bottom: 0;
}
p {
}
a {
  color: #d73513;
  text-decoration: none;
}
a:hover, a:active {
  color: #312118;
}
a:visited {
}
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
ul {
}

blockquote div.source {
  text-align: right;
}
.pullquote {
  width: 600px;
  margin: 5px;
  font-style: italic;
  text-indent: -1.3em;
}

.pullquote:before {
  content: '\201C';
  font-size: xx-large;
  font-weight: bold;
}

.pullquote:after {
  content: '\201D';
  font-size: xx-large;
  font-weight: bold;
}

